<!-- hero-section -->
<section class="mt-[106px] w-full h-[612px] bg-[#cccccc] flex justify-center items-center -z-[1]">

    <div class="w-[78%] h-[100%] flex justify-center items-center">

        <!-- left -->
        <div class="w-[60%] h-full flex flex-col justify-center">
            <h1 class="text-[48px] text-[#105156] font-[700] leading-[48px]">We deliver leads for real estate agents in
                Germany</h1>
            <p class="text-[#6D758F] mt-[1rem]">Lorem ipsum dolor sit amet consectetur adipiscing elidolor mattis sit
                phasellus mollis sit aliquam sit nullam neques.</p>
            <div class="flex gap-5 mt-[2rem]">
                <button
                    class="w-[129px] text-[14px] h-[40px] rounded-[7px] border border-transparent hover:border-[#105156] text-white bg-[#105156] hover:bg-transparent hover:text-[#105156] font-[500] transition-all duration-300 ease-in-out">
                    Get started <i class="ri-arrow-right-line"></i>
                </button>
                <button
                    class="w-[113px] text-[14px] h-[40px] rounded-[7px] border border-2 border-[#105156] text-[#105156] hover:bg-[#105156] hover:text-[white]">Learn
                    more</button>
            </div>
        </div>

        <!-- right -->
        <div class="w-[40%] h-full relative flex justify-center items-center">
            <!-- Play Button -->
            <div
                class="absolute z-20 w-[96px] h-[96px] bg-[#F1F3F7] flex justify-center items-center rounded-full text-[#6D758F] text-[48px] hover:bg-[#E8EAEE] cursor-pointer transition-all duration-300 ease-in-out">
                <i class="ri-play-fill"></i>
            </div>

            <!-- Background Image -->
            <img src="/about_hero.png" alt="About Hero" class="absolute bottom-0 z-10 w-full object-cover rounded-lg">
        </div>

    </div>

</section>


<!-- section-2 -->
<section class="w-full h-auto flex justify-center items-center mt-[3rem]">

    <div class="w-[78%] h-[635.7px] grid grid-cols-2">

        <!-- left -->
        <div class="w-full h-full">
            <p class="text-[#105156] text-[19.4px]">WHO ARE WE</p>
            <h1 class="mt-[2rem] font-[600] text-[39.8px] leading-[47px] text-[#2B2B2B] pe-[2rem]">Assisting individuals
                in locating the
                appropriate real estate.</h1>
            <p class="mt-[1.5rem] text-[#808080] leading-[26px] pe-[5rem]">Donec porttitor euismod dignissim. Nullam a
                lacinia ipsum, nec dignissim purus. Nulla convallis ipsum
                molestie nibh malesuada, ac malesuada leo volutpat.</p>

            <div class="w-full h-auto flex flex-col gap-5 mt-[3rem]">

                <div class="w-[400px] h-[131px] shadow-xl rounded-[30px] flex justify-evenly items-center">
                    <div class="w-[20%] h-full flex justify-center items-center">
                        <img src="/about_sec2_icon _smarthome.png" alt="">
                    </div>
                    <div class="w-[70%] h-full flex flex-col justify-center gap-2">
                        <h2 class="text-[19.4px] text-[#105156] font-[500]">Donec porttitor euismod</h2>
                        <p class="text-[#808080] leading-[26px]">Nullam a lacinia ipsum, nec dignissim purus. Nulla</p>
                    </div>
                </div>


                <div class="w-[400px] h-[131px] shadow-xl rounded-[30px] flex justify-evenly items-center">
                    <div class="w-[20%] h-full flex justify-center items-center">
                        <img src="/about_sec2_icon _user.png" alt="">
                    </div>
                    <div class="w-[70%] h-full flex flex-col justify-center gap-2">
                        <h2 class="text-[19.4px] text-[#105156] font-[500]">Donec porttitor euismod</h2>
                        <p class="text-[#808080] leading-[26px]">Nullam a lacinia ipsum, nec dignissim purus. Nulla</p>
                    </div>
                </div>

            </div>
        </div>

        <!-- right -->
        <div class="w-full h-full grid grid-cols-2 items-end justify-between">
            <!-- 1 -->
            <div
                class="w-[280px] h-[500px] rounded-[30px] bg-[url('/about_sec_2img1.png')] bg-cover bg-center shadow-xl">
            </div>
            <!-- 2 -->
            <div class="h-full w-[277px] grid grid-row-2 items-center pt-[3rem] pb-[5rem]">
                <div
                    class="shadow-xl w-full h-[280px] rounded-[30px] bg-[url('/about_sec_2img2.png')] bg-center bg-cover">
                </div>
                <div
                    class="shadow-xl w-full h-[180px] rounded-[30px] bg-[url('/about_sec_2img3.png')] bg-center bg-cover relative">
                    <img src="/about_sec_2_circle.png" alt="" class="absolute left-[5rem] bottom-[-2.5rem]">
                </div>
            </div>
        </div>
    </div>
</section>



<!-- section-3 -->
<section class="mt-[10rem] w-full h-[1000px] grid grid-cols-2 relative">


    <!-- left -->
    <div class="flex justify-end items-center">
        
        <div class="w-[85%] capitalize flex flex-col justify-center">
            <h1 class="text-[57px] font-[600] text-[#343434] leading-[120%] pe-[10rem]">Professional new customer
                service</h1>
            <p class="mt-[2rem] text-[18px] text-[#595959] leading-[174%] pe-[5rem]">From many years of experience, we
                know how time-consuming it can be to acquire a long-term owner. But that's precisely why we want to take
                the pressure off you with our first-class new customer service. This leaves you more time for the truly
                important things: sales and customer service.</p>
        </div>
    
    </div>



    <!-- right -->
    <div class="relative flex justify-center items-center pe-[8.5%]">
        <div class="w-[597px] h-[776px] bg-[url('/about_sec_2img.png')] bg-no-repeat bg-cover bg-center z-100 rounded-tr-[11rem] rounded-bl-[11rem] shadow-2xl"></div>
    </div>
    
    <img src="/about_sec_3_vectore.png" alt="" class="absolute right-0 top-0 -z-[5]">
</section>


<!-- section-4 -->
<section class="section_4 mt-[3rem] w-full relative flex justify-center items-center pb-[5rem]">

    <!-- vectore -->
    <img src="/vector_about_sec3.png" alt="" class="absolute left-0 bottom-0 -z-[5]">

    <div class="container w-[85%] h-auto flex justify-center items-start">

        <!-- left -->
        <div class="flex justify-center items-center">
            <div class="w-[606px] h-[776px] bg-[url('/about_sec_3img.png')] bg-no-repeat bg-[left_-30rem_top_0] bg-cover bg- z-100 rounded-tr-[11rem] rounded-bl-[11rem] shadow-2xl"></div>
        </div>

        <!-- right -->
        <div class="capitalize ps-[2rem]">

            <h1 class="text-[57px] font-[600] text-[#343434] leading-[120%]">Better than the industry
                average: Thanks to our high quality standards</h1>
            <p class="mt-[1rem] text-[18px] text-[#595959] leading-[174%] pe-[5rem]">We only employ highly qualified
                professionals who are not only masters of their craft but also know and understand the ins and outs of
                the real estate industry. Each team member undergoes a selection process in which we assess the
                applicant's basic skills as well as their technical know-how. Only with a sufficient level of both
                components can we guarantee outstanding results.</p>
        </div>

    </div>

</section>

<!-- section-5 -->
<section id="counterSection" class="section_5 mt-[5rem] w-full h-auto flex justify-center items-center">
    <div class="w-[971px] h-auto flex justify-between items-center">
        <div class="w-auto h-auto flex flex-col justify-center items-center">
            <h1
                class="text-[34px] font-[600] bg-[url('/ring_3.png')] bg-center bg-no-repeat w-[100%] flex justify-center items-center">
                {{inquiriesCount | number:'1.0-0'}}</h1>
            <p class="text-[18px] text-[#595959] capitalize mt-[0.6rem]">Inquiries per day</p>
        </div>
        <div class="w-auto h-full flex flex-col justify-center items-center">
            <h1
                class="text-[34px] font-[600] bg-[url('/ring_4.png')] bg-center bg-no-repeat w-[100%] flex justify-center items-center">
                {{experienceCount | number:'1.0-0'}}</h1>
            <p class="text-[18px] text-[#595959] capitalize mt-[0.6rem]">Years of experience</p>
        </div>
        <div class="w-auto h-full flex flex-col justify-center items-center">
            <h1
                class="text-[34px] font-[600] bg-[url('/ring_1.png')] bg-center bg-no-repeat w-[100%] flex justify-center items-center">
                {{employeesCount | number:'1.0-0'}}</h1>
            <p class="text-[18px] text-[#595959] capitalize mt-[0.6rem]">Employees</p>
        </div>
        <div class="w-auto h-full flex flex-col justify-center items-center">
            <h1
                class="text-[34px] font-[600] bg-[url('/ring_2.png')] bg-center bg-no-repeat w-[100%] flex justify-center items-center">
                {{customersCount | number:'1.0-0'}}</h1>
            <p class="text-[18px] text-[#595959] capitalize mt-[0.6rem]">Customers / Partners</p>
        </div>
    </div>
</section>

<!-- section-6 -->
<section class="mt-[10rem] w-full h-auto flex justify-center items-center">

    <div class="w-[85%] h-auto flex flex-col justify-between">

        <!-- sec-1 -->
        <div class="w-full h-auto text-center">
            <h1 class="text-[40px] font-[700] text-[#23262F]">Our services at a glance</h1>
            <p class="text-[18px] text-[#353945] mt-[1rem]">Take the initiative now and regularly win even more new
                customers!</p>
        </div>

        <!-- sec-2 -->
        <div class="w-full h-auto flex justify-between items-start mt-[2.5rem]">

            <!-- card-1 -->
            <div class="w-[272px] rounded-[12px] bg-[#EEF9F2] shadow-sm flex flex-col items-center p-[1.5rem]">
                <div class="w-[48px] h-[48px] rounded-full bg-[#58C27D] flex justify-center items-center">
                    <img src="/sun.png" alt="">
                </div>

                <div class="text-center">
                    <h1 class="text-[17px] text-[#353945] font-[600] mt-[1.5rem]">Acquisition</h1>
                    <p class="text-[#353945] text-[17px] leading-[26px] mt-[1.5rem]">Initiation and coordination of
                        potential new customers and interested parties.
                        <span *ngIf="showMore1">
                            Curabitur vel lorem nec nulla gravida porta. Duis et libero ut tortor pretium porttitor.
                        </span>
                    </p>
                    <button (click)="toggleReadMore(1)"
                        class="mt-[1.5rem] text-[13px] text-[#353945] font-[500]">{{showMore1 ? 'Learn Less' : 'Learn
                        More'}} <i class="ri-arrow-right-line font-[800]"></i></button>
                </div>
            </div>

            <!-- card-2 -->
            <div class="w-[272px] rounded-[12px] bg-[#FFF4EE] shadow-sm flex flex-col items-center p-[1.5rem]">
                <div class="w-[48px] h-[48px] rounded-full bg-[#FA8F54] flex justify-center items-center">
                    <img src="/laptop.png" alt="">
                </div>

                <div class="text-center">
                    <h1 class="text-[17px] text-[#353945] font-[600] mt-[1.5rem]">Marketing</h1>
                    <p class="text-[#353945] text-[17px] leading-[26px] mt-[1.5rem]">In addition to conducting
                        professional customer meetings, we are also happy to help you plan and design a professional
                        external appearance.
                        <span *ngIf="showMore2">
                            Curabitur vel lorem nec nulla gravida porta. Duis et libero ut tortor pretium porttitor.
                        </span>
                    </p>
                    <button (click)="toggleReadMore(2)"
                        class="mt-[1.5rem] text-[13px] text-[#353945] font-[500]">{{showMore2 ? 'Learn Less' : 'Learn
                        More'}} <i class="ri-arrow-right-line font-[800]"></i></button>
                </div>
            </div>

            <!-- card-3 -->
            <div class="w-[272px] rounded-[12px] bg-[#EBF1FF] shadow-sm flex flex-col items-center p-[1.5rem]">
                <div class="w-[48px] h-[48px] rounded-full bg-[#3B71FE] flex justify-center items-center">
                    <img src="/book.png" alt="">
                </div>

                <div class="text-center">
                    <h1 class="text-[17px] text-[#353945] font-[600] mt-[1.5rem]">Portal</h1>
                    <p class="text-[#353945] text-[17px] leading-[26px] mt-[1.5rem] px-[2rem]">Real-time collaboration
                        through our multifunctional customer portal.
                        <span *ngIf="showMore3">
                            Curabitur vel lorem nec nulla gravida porta. Duis et libero ut tortor pretium porttitor.
                        </span>
                    </p>
                    <button (click)="toggleReadMore(3)"
                        class="mt-[1.5rem] text-[13px] text-[#353945] font-[500]">{{showMore3 ? 'Learn Less' : 'Learn
                        More'}} <i class="ri-arrow-right-line font-[800]"></i></button>
                </div>
            </div>

            <!-- card-4 -->
            <div class="w-[272px] rounded-[12px] bg-[#26F9BA33] shadow-sm flex flex-col items-center p-[1.5rem]">

                <div class="w-[48px] h-[48px] rounded-full bg-[#26F9BA] flex justify-center items-center">
                    <img src="/book.png" alt="">
                </div>

                <div class="text-center">
                    <h1 class="text-[17px] text-[#353945] font-[600] mt-[1.5rem]">Support</h1>
                    <p class="text-[#353945] text-[17px] leading-[26px] mt-[1.5rem] px-[1.5rem]">We won't leave you in
                        the lurch! Feel free to contact our support team if you have any questions. We'll be happy to
                        advise you!
                        <span *ngIf="showMore4">
                            Curabitur vel lorem nec nulla gravida porta. Duis et libero ut tortor pretium porttitor.
                        </span>
                    </p>
                    <button (click)="toggleReadMore(4)" class="mt-[1.5rem] text-[13px] text-[#353945] font-[500]">{{
                        showMore4 ? 'Learn Less' : 'Learn More'}} <i
                            class="ri-arrow-right-line font-[800]"></i></button>
                </div>
            </div>

        </div>
    </div>

</section>

<!-- section-7 -->
<section class="relative mt-[4rem] w-full h-[638px] flex justify-center items-center bg-[url('/section_7.jpg')] bg-cover bg-center">

    <!-- overlay -->
    <div class="absolute inset-0 bg-white/80"></div>

    <div class="absolute w-[85%] h-[368px] rounded-2xl bg-[#105156] grid grid-cols-2">

        <!-- left -->
        <div class="flex justify-end">
            <img src="/section_7_img2.png" alt="">
        </div>

        <!-- rigth -->
        <div class="p-[1rem] pt-[4rem]">
            <h1 class="text-[48px] text-[white] font-[600] capitalize">you can consult here</h1>
            <p class="capitalize font-[400] text-[white]">Morbi tellus et commodo mauris tellus ac. Sollicitudin
                elementum facilisi ut a ut ullamcorper ut.</p>

            <!-- input -->
            <div class="mt-[3rem] w-[455px] h-[74px] bg-[white] rounded-[10px] flex items-center justify-between px-3">

                <input type="text" placeholder="Enter your email address"
                    class="w-[250px] focus:outline-none focus:border-none px-3">

                <button class="w-[123px] h-[56px] rounded-[7px] bg-[#105156] text-[white]">Submit</button>
            </div>
        </div>
    </div>

</section>