<!-- hero-section -->
<section class="w-[100%] h-auto lg:h-[1024px] flex justify-center items-center">

    <div class="container max-w-[100rem] h-full lg:grid lg:grid-cols-2 relative">

        <!-- left-section -->
        <div class="w-full h-auto">

            <!-- bg-image -->
            <div
                class="relative w-full h-[100vh] lg:w-[630px]  lg:h-[939.5px] lg:rounded-b-full overflow-hidden shadow-xl bg-[url('/hero_section.png')] bg-no-repeat bg-top bg-cover  z-100 ">
                <!-- overlay -->
                <div class="absolute left-0 top-0 inset-0 bg-black/70 lg:hidden flex justify-center items-center"></div>
            </div>

            <!-- vectore -->
            <img src="/hero_sec_Vector 1.png" alt="" class="absolute top-0 left-0 -z-[5]">

        </div>

        <!-- right-sec -->
        <div class="w-full h-auto absolute left-0 top-48 lg:static lg:pt-[35%]  lg:px-0">

            <h1
                class="text-[38px] px-5 lg:px-5 text-center lg:text-left lg:text-[68px] text-[white] lg:text-[#343434] font-[700] lg:pe-[25%] capitalize ">
                smart to invest In real estate</h1>

            <p
                class="text-[16px] px-5 lg:px-5 text-center lg:text-left lg:text-[20px] text-[white] lg:text-[#595959] lg:pe-[25%] mt-[1.5rem]">
                Nunc In Dictum Convallis Purus Adipiscing Nec Odio.
                Sit Nulla Morbi Mi Nec Ultrices Nisl Erat At.</p>

            <!-- buttons -->
            <div class="flex mt-[2rem] gap-[3rem] px-5 lg:px-5">
                <button
                    class="w-[159px] h-[56px] rounded-[7px] bg-[#105156] text-[white] hover:border-2 hover:border-[#105156] hover:text-[#105156] hover:bg-[white]">Get
                    Started</button>
                <button
                    class="w-[159px] h-[56px] rounded-[7px]  border-2 lg:border-[#105156] text-[#105156] hover:lg:bg-[#105156] hover:lg:text-[white] bg-[white]">Contact
                    Us</button>
            </div>

            <!-- counter section -->
            <div id="counterSection"
                class="grid grid-cols-1 lg:grid-cols-2  w-full lg:w-[500px] h-auto mt-[2.5rem] gap-y-[30px] absolute top-[69vh] lg:static">

                <!-- 1 -->
                <div class="w-full lg:w-[221px] h-[78px] flex flex-col items-center justify-center relative">

                    <!-- blurred ring background -->
                    <div class="absolute inset-0 bg-[url('/ring_1.png')] bg-top bg-no-repeat"></div>

                    <!-- sharp number text -->
                    <h1 class="relative text-[34px] font-[600]">
                        {{ brokersCount | number:'1.0-0' }}
                    </h1>

                    <!-- label -->
                    <p class="relative text-[#595959] text-[18px]">Brokers in our network</p>

                </div>

                <!-- 2 -->
                <div class="w-full lg:w-[221px] h-[78px] flex flex-col items-center justify-center relative">

                    <!-- blurred ring background -->
                    <div class="absolute inset-0 bg-[url('/ring_2.png')] bg-top bg-no-repeat filter blur-[3px]"></div>

                    <h1 class="relative text-[34px] font-[600]">
                        {{ inquiriesCount | number:'1.0-0' }}
                    </h1>

                    <p class="text-[#595959] text-[18px]">Inquiries per day</p>
                </div>

                <!-- 3 -->
                <div class="w-full lg:w-[250px] h-[78px] flex flex-col items-center justify-center relative">

                    <!-- blurred ring background -->
                    <div class="absolute inset-0 bg-[url('/ring_3.png')] bg-top bg-no-repeat filter blur-[3px]"></div>

                    <h1 class="relative text-[34px] font-[600]">
                        {{ expertiseCount | number:'1.0-0' }}
                    </h1>
                    <p class="text-[#595959] text-[18px]">Real estate expertise since</p>

                </div>

                <!-- 4 -->
                <div class="w-full lg:w-[221px] h-[78px] flex flex-col items-center justify-center relative">

                    <!-- blurred ring background -->
                    <div class="absolute inset-0 bg-[url('/ring_4.png')] bg-top bg-no-repeat filter blur-[3px]"></div>

                    <h1 class="relative text-[34px] font-[600]">
                        {{ satisfactionCount | number:'1.1-1' }}%
                    </h1>
                    <p class="text-[#595959] text-[18px]">Customer satisfaction</p>

                </div>
            </div>

        </div>

    </div>

</section>


<!-- section-2 -->
<section class="mt-[34rem] lg:mt-[3rem] w-full h-auto flex justify-center items-center">


    <div class="w-[80rem] h-auto grid cols-1 lg:grid-cols-2 px-[1.5rem] lg:px-[0rem] text-center lg:text-left">

        <div class="">
            <h1 class="text-[28px] lg:text-[57px] font-[600] text-[#343434] lg:pe-[5rem]">Why Choose To Invest Real
                Estate Now</h1>
        </div>

        <div class="flex flex-col justify-end items-center lg:items-start">
            <p class="capitalize text-[16px] lg:text-[18px] text-[#595959] font-[400] mt-5">At aliquet viverra placerat enim semper nulla
                ut
                auctor habitasse. Urna pretium cursus commodo cursus phasellus elit facilisis volutpat etiam.</p>
            <button
                class="mt-[2rem] w-[159px] h-[56px] rounded-[7px] bg-[#105156] text-[white] hover:border-2 hover:border-[#105156] hover:text-[#105156] hover:bg-[white]">Get
                Started</button>
        </div>
    </div>

</section>


<!-- section-3 -->
<section class="w-full h-auto py-5 lg:h-[904px] mt-[4rem] flex justify-center items-center">

    <div class="container w-full max-w-[100rem] h-full grid cols-1 lg:grid-cols-2 relative gap-10">

        <div class="flex justify-center lg:justify-end items-center">
            <div class="w-[90%] lg:w-[85%] h-full flex flex-col items-center justify-between">

                <div class="lg:w-full lg:h-[175px] flex justify-center items-center">
                    <div class="w-[15%] h-full">
                        <h1
                            class="text-[52px] font-[600] bg-[url('/sec_2_circle_1.png')] bg-[left_-1.1rem_top_-0.7rem] bg-no-repeat">
                            01
                        </h1>
                    </div>
                    <div class="w-[85%] h-full flex flex-col items-start justify-between pt-[1.2rem]">
                        <h3 class="text-[28px] font-[600]">Property</h3>
                        <p class="capitalize text-[18px] text-[#595959]">
                            If you're looking to sell your property, then you've found a partner with contacts to home
                            builders.
                            <span *ngIf="showMore1">
                                Curabitur vel lorem nec nulla gravida porta. Duis et libero ut tortor pretium porttitor.
                            </span>
                        </p>
                        <button (click)="toggleReadMore(1)"
                            class="mt-[0.7rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            {{ showMore1 ? 'See Less' : 'See More' }}
                            <img src="/sec_2_seemore.png" alt="">
                        </button>
                    </div>
                </div>

                <div class="lg:w-full lg:h-[175px] flex justify-center items-center">
                    <div class="w-[15%] h-full">
                        <h1
                            class="text-[52px] font-[600] bg-[url('/sec_2_circle_4.png')] bg-[left_-0.5rem_top_-0.7rem] bg-no-repeat">
                            02
                        </h1>
                    </div>
                    <div class="w-[85%] h-full flex flex-col items-start justify-between pt-[1.2rem]">
                        <h3 class="text-[28px] font-[600]">House</h3>
                        <p class="capitalize text-[18px] text-[#595959]">
                            Are you looking to sell your home? We understand your needs and will take care of your sale
                            from
                            start to finish.
                            <span *ngIf="showMore2">
                                Vivamus et urna at felis porta gravida. Integer sit amet elit eu mi malesuada venenatis.
                            </span>
                        </p>
                        <button (click)="toggleReadMore(2)"
                            class="mt-[0.7rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            {{ showMore2 ? 'See Less' : 'See More' }}
                            <img src="/sec_2_seemore.png" alt="">
                        </button>
                    </div>
                </div>


                <div class="lg:w-full lg:h-[175px] flex justify-center items-center">
                    <div class="w-[15%] h-full">
                        <h1
                            class="text-[52px] font-[600] bg-[url('/sec_2_circle_3.png')] bg-[left_-0.5rem_top_-0.7rem] bg-no-repeat">
                            03
                        </h1>
                    </div>
                    <div class="w-[85%] h-full flex flex-col items-start justify-between pt-[1.2rem]">
                        <h3 class="text-[28px] font-[600]">Apartment</h3>
                        <p class="capitalize text-[18px] text-[#595959]">
                            Are you looking to sell your apartment? Whether rented or vacant, we can sell your property
                            quickly and discreetly.
                            <span *ngIf="showMore3">
                                Duis vehicula, justo in accumsan dapibus, nulla massa fringilla ante, ut dignissim
                                tortor
                                odio ut est.
                            </span>
                        </p>
                        <button (click)="toggleReadMore(3)"
                            class="mt-[0.7rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            {{ showMore3 ? 'See Less' : 'See More' }}
                            <img src="/sec_2_seemore.png" alt="">
                        </button>
                    </div>
                </div>


                <div class="lg:w-full lg:h-[175px] flex justify-center items-center">
                    <div class="w-[15%] h-full">
                        <h1
                            class="text-[52px] font-[600] bg-[url('/sec_2_circle_2.png')] bg-[left_-0.5rem_top_-0.7rem] bg-no-repeat">
                            04
                        </h1>
                    </div>
                    <div class="w-[85%] h-full flex flex-col items-start justify-between pt-[1.2rem]">
                        <h3 class="text-[28px] font-[600]">Business</h3>
                        <p class="capitalize text-[18px] text-[#595959]">
                            Are you looking to sell your commercial property? Our over 10 years of experience plays a
                            crucial role here.
                            <span *ngIf="showMore4">
                                Phasellus vel tortor in metus facilisis dignissim. Donec faucibus.
                            </span>
                        </p>
                        <button (click)="toggleReadMore(4)"
                            class="mt-[0.7rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            {{ showMore4 ? 'See Less' : 'See More' }}
                            <img src="/sec_2_seemore.png" alt="">
                        </button>
                    </div>
                </div>

            </div>
        </div>

        <div class="flex justify-end items-center pe-[5rem]">
            <div
                class="w-[597px] h-[776px] bg-[url('/section_2.png')] bg-no-repeat bg-cover bg-center z-100 rounded-tr-[11rem] rounded-bl-[11rem] shadow-2xl">
            </div>
        </div>

        <img src="/Vector_2.png" alt="" class="absolute right-0 top-0 -z-[5]">

    </div>

</section>

<!-- section-4 -->
<section class="mt-[3rem]  w-full h-auto lg:h-[1142px]  flex justify-center items-center sm:px-6 lg:px-0">

    <div class="container w-full max-w-[100rem] h-full flex justify-center items-center relative">

        <img src="/vectore_sec_4.png" alt="" class="absolute top-0 right-0 -z-[1] w-[180px] sm:w-[250px] lg:w-auto">



        <div
            class="w-[90%] xl:w-[85%] h-auto lg:h-[85%] grid grid-cols-1 xl:grid-cols-[1fr_auto_1fr] items-center justify-center mt-10 lg:mt-0">


            <div class="flex flex-col justify-between xl:pr-[5rem] h-auto xl:h-full gap-10 lg:gap-0">


                <div class="capitalize text-center lg:text-left">
                    <h1 class="text-[28px] sm:text-[48px] lg:text-[57px] font-[600] text-[#343434]">our main focus</h1>
                    <p class="text-[16px] lg:text-[18px] text-[#595959] px-[5%] lg:pe-[10%]">At aliquet viverra placerat
                        enim
                        semper nulla ut auctor
                        habitasse.</p>
                </div>

                <div class="w-full flex justify-center items-center">
                    <div
                        class="w-full max-w-[350px] sm:max-w-[400px] lg:w-[402px] h-[200px] sm:h-[252px] bg-[url('/sec_4img1.png')] bg-cover bg-center bg-no-repeat rounded-lg shadow-2xl">
                    </div>
                </div>


                <div class="w-full flex justify-center lg:justify-end items-center lg:items-start">
                    <div
                        class="w-full max-w-[500px] lg:w-[525.97px] gap-6 sm:gap-10 flex flex-col sm:flex-row justify-between items-center sm:items-start text-center sm:text-right capitalize">
                        <div class="order-2 sm:order-1">
                            <h1 class="text-[22px] sm:text-[26px] lg:text-[28px] font-[600]">provide property legality
                            </h1>
                            <p class="text-[16px] sm:text-[18px] text-[#595959] mt-[1rem]">At aliquet viverra placerat
                                enim semper
                                nulla ut auctor
                                habitasse.</p>
                        </div>
                        <div class="order-1 sm:order-2 pt-2 sm:pt-[2%]">
                            <img src="/Icon Book.png" alt="" class="w-[40px] sm:w-[50px]">
                        </div>
                    </div>
                </div>


                <div class="w-full flex justify-center items-center">
                    <div
                        class="w-full max-w-[350px] sm:max-w-[400px] lg:w-[402px] h-[200px] sm:h-[252px] bg-[url('/sec_4img3.png')] bg-cover bg-center bg-no-repeat rounded-lg shadow-2xl">
                    </div>
                </div>

            </div>

            <div class="hidden xl:flex flex-col items-center justify-between h-auto translate-y-[16%]">

                <div class="flex flex-col items-center">
                    <div
                        class="w-[44px] h-[44px] rounded-full bg-[#d5e9e4] flex items-center justify-center text-[#105156] font-[600] text-[30px]">
                        1
                    </div>
                    <div class="w-[2px] border-l-2 border-dashed border-[#105156] h-[186px] mt-[20%]"></div>
                </div>


                <div class="flex flex-col items-center mt-[20%]">
                    <div
                        class="w-[44px] h-[44px] rounded-full bg-[#d5e9e4] flex items-center justify-center text-[#105156] font-[600] text-[30px]">
                        2
                    </div>
                    <div class="w-[2px] border-l-2 border-dashed border-[#105156] h-[186px] mt-[20%]"></div>
                </div>


                <div class="flex flex-col items-center mt-[20%]">
                    <div
                        class="w-[44px] h-[44px] rounded-full bg-[#d5e9e4] flex items-center justify-center text-[#105156] font-[600] text-[30px]">
                        3
                    </div>
                </div>
            </div>


            <!-- Right Column -->
            <div
                class="h-full flex flex-col items-end justify-evenly pt-[4rem] xl:pt-[15rem] md:pt-[8rem] sm:pt-[4rem] gap-10 sm:gap-12 lg:gap-0 w-full">

                <!-- Card 1 -->
                <div
                    class="bg-white shadow-2xl w-full max-w-[556px] h-auto sm:h-[150px] flex flex-col sm:flex-row justify-evenly items-center rounded-md text-center sm:text-left gap-4 sm:gap-0 p-4 sm:px-0">
                    <div class="w-[35px] sm:h-full pt-0 sm:pt-[2rem]">
                        <img src="/Icon Money.png" alt="" class="mx-auto sm:mx-0 w-[40px] sm:w-[35px]">
                    </div>
                    <div class="capitalize w-full sm:w-[454px]">
                        <h1 class="text-[22px] sm:text-[26px] md:text-[28px] font-[600]">Buy a Property</h1>
                        <p class="text-[16px] sm:text-[18px] text-[#595959] mt-2 sm:mt-0">
                            At aliquet viverra placerat enim semper nulla ut auctor habitasse.
                        </p>
                    </div>
                </div>

                <!-- Image -->
                <div class="w-full flex justify-center items-center">
                    <div
                        class="w-full max-w-[400px] sm:max-w-[402px] h-[200px] sm:h-[252px] bg-[url('/sec_4img2.png')] bg-cover bg-center bg-no-repeat rounded-lg shadow-2xl">
                    </div>
                </div>

                <!-- Card 2 -->
                <div
                    class="w-full max-w-[556px] h-auto flex flex-col sm:flex-row justify-evenly items-center sm:items-start rounded-xl text-center sm:text-left gap-4 sm:gap-0 px-4 sm:px-0">
                    <div class="pt-0 sm:pt-[2%] w-[35px]">
                        <img src="/Icon Sell.png" alt="" class="mx-auto sm:mx-0 w-[40px] sm:w-[35px]">
                    </div>
                    <div class="capitalize w-full sm:w-[454px]">
                        <h1 class="text-[22px] sm:text-[26px] md:text-[28px] font-[600]">Sell a Property</h1>
                        <p class="text-[16px] sm:text-[18px] text-[#595959] mt-2 sm:mt-[1.8rem]">
                            At aliquet viverra placerat enim semper nulla ut auctor habitasse.
                        </p>
                    </div>
                </div>

            </div>

        </div>

    </div>

</section>

<!-- section-5 -->
<section class="mt-[3rem] xl:mt-[0rem] w-full h-auto xl:h-[676px] bg-[url('/sec_5_bg.png')] bg-no-repeat bg-center bg-cover flex justify-center">

    <div class="container w-full max-w-[100rem] h-full grid grid-cols-1 xl:grid-cols-2 py-5 lg:py-0">

        <!-- LEFT COLUMN (Reviews) -->
        <div class="flex lg:grid grid-cols-2 items-start p-[3rem] sm:p-[2rem] xl:p-[3rem] gap-10 xl:gap-5 overflow-x-auto scroll xl:overflow-visible scroll-smooth snap-x snap-mandatory no-scrollbar">

            <!-- Card 1 -->
            <div
                class="relative flex-shrink-0 w-[280px] sm:w-[300px] xl:w-[326px] h-[244px] bg-white rounded-lg shadow-2xl capitalize flex flex-col justify-evenly p-[1.8rem] px-[2rem] snap-center mx-auto sm:mx-0">
                <i
                    class="ri-double-quotes-l absolute left-[-9.5%] top-[18%] bg-[#105156] text-white w-[50px] h-[50px] flex justify-center items-center rounded-full text-[20px]"></i>
                <img src="/client_2.png" alt="" class="absolute top-[-13%] right-[35%]">
                <div>
                    <p class="text-[14px]">client 2</p>
                    <h1 class="text-[18px] font-[700]">bob harleyu</h1>
                </div>
                <p class="text-[13px] text-[#595959]">
                    Posuere aliquam sed vestibulum duis vestibulum consectetur. Cursus nulla dictum lacus euismod
                    dignissim
                    habitant ut amet commodo.
                </p>
            </div>

            <!-- Card 2 -->
            <div
                class="relative flex-shrink-0 w-[260px] sm:w-[280px] xl:w-[268px] h-[244px] bg-white rounded-lg shadow-2xl capitalize flex flex-col justify-evenly p-[1.8rem] px-[2rem] snap-center mx-auto sm:mx-0 self-end xl:translate-x-[10%] xl:translate-y-[50%]">
                <i
                    class="ri-double-quotes-l absolute left-[-11%] top-[30%] bg-[#105156] text-white w-[50px] h-[50px] flex justify-center items-center rounded-full text-[20px]"></i>
                <img src="/client_1.png" alt="" class="absolute top-[-13%] right-[10%]">
                <div>
                    <p class="text-[14px]">client 1</p>
                    <h1 class="text-[18px] font-[700]">jhon dhony</h1>
                </div>
                <p class="text-[13px] text-[#595959]">
                    Sed in dolor auctor vel aliquam netus quis tellus a. Aliquam mauris a accumsan cursus. Lobortis
                    lorem nibh quam interdum urna.
                </p>
            </div>

            <!-- Card 3 -->
            <div
                class="relative flex-shrink-0 w-[250px] sm:w-[270px] xl:w-[262px] h-[221px] bg-white rounded-lg shadow-2xl capitalize flex flex-col justify-evenly p-[1.8rem] px-[2rem] snap-center mx-auto sm:mx-0 xl:translate-x-10">
                <i
                    class="ri-double-quotes-l absolute left-[-10%] top-[18%] bg-[#105156] text-white w-[50px] h-[50px] flex justify-center items-center rounded-full text-[20px]"></i>
                <img src="/client_3.png" alt="" class="absolute top-[-13%] right-[20%]">
                <div>
                    <p class="text-[14px]">client 3</p>
                    <h1 class="text-[18px] font-[700]">carmilla angel</h1>
                </div>
                <p class="text-[13px] text-[#595959]">
                    Posuere aliquam sed vestibulum duis vestibulum consectetur. Cursus nulla dictum lacus euismod.
                </p>
            </div>
        </div>

        <!-- RIGHT COLUMN (Text Section) -->
        <div
            class="capitalize flex flex-col justify-center items-center xl:items-start text-center xl:text-left px-4 sm:px-8 xl:ps-[2rem] mt-[2rem] xl:mt-0">
            <h1
                class="font-[600] text-[36px] sm:text-[44px] xl:text-[57px] text-[#343434] leading-[120%] xl:pe-[20rem]">
                what our client say
            </h1>
            <p class="text-[16px] sm:text-[18px] text-[#595959] mt-[1.5rem] xl:pe-[10rem]">
                Convallis nec ac purus nunc. Maecenas pharetra scelerisque tempor vulputate enim bibendum consectetur.
                <span *ngIf="showMore5">
                    Curabitur vel lorem nec nulla gravida porta. Duis et libero ut tortor pretium porttitor.
                </span>
            </p>

            <button (click)="toggleReadMore(5)"
                class="w-[8rem] mt-[1.8rem] text-[#105156] font-[600] flex items-center justify-center gap-[1rem]">
                {{ showMore5 ? 'See Less' : 'See More' }}
                <img src="/sec_2_seemore.png" alt="">
            </button>
        </div>

    </div>

</section>

<!-- section-6 -->
<section class="w-full h-auto lg:h-[1225px] flex justify-center">

    <div class="container max-w-[100rem] h-full flex justify-center relative pt-[3rem] lg:pt-[5rem]">

        <div class="w-full lg:w-[904px] h-auto flex flex-col items-center justify-center">

            <div class="capitalize text-center">
                <h1 class="text-[28px] lg:text-[57px] text-[#343434] font-[600] px-[5rem] lg:px-[10rem] leading-[120%]">
                    our best property right now
                </h1>
                <p class="mt-[1.5rem] text-[#595959] px-[2rem] sm:px-[3rem] lg:px-[5rem] leading-[174%]">
                    At aliquet viverra placerat enim semper nulla ut auctor habitasse.
                    Urna pretium cursus commodo cursus phasellus elit facilisis volutpat etiam.
                </p>
            </div>


            <div class="w-full lg:w-[858px] flex flex-col items-center mt-[3rem]">

                <div class="w-auto gap-4 lg:gap-0 lg:w-[676px] flex justify-between items-center mb-[1.5rem]">


                    <div (click)="activeTab = 0" [ngClass]="{
            'bg-[#105156] text-white': activeTab === 0,
            'text-[#105156] border border-[#105156]': activeTab !== 0
          }" class="px-3 lg:w-[121px] h-[43px] text-[14px] lg:text-[18px] font-[500] flex justify-center items-center cursor-pointer rounded-md transition-all duration-300">
                        House
                    </div>


                    <div (click)="activeTab = 1" [ngClass]="{
            'bg-[#105156] text-white': activeTab === 1,
            'text-[#105156] border border-[#105156]': activeTab !== 1
          }" class="px-3 lg:w-[142px] h-[43px] text-[14px] lg:text-[18px] font-[500] flex justify-center items-center cursor-pointer rounded-md transition-all duration-300">
                        Property
                    </div>


                    <div (click)="activeTab = 2" [ngClass]="{
            'bg-[#105156] text-white': activeTab === 2,
            'text-[#105156] border border-[#105156]': activeTab !== 2
          }" class="px-3 lg:w-[164px] h-[43px] text-[14px] lg:text-[18px] font-[500] flex justify-center items-center cursor-pointer rounded-md transition-all duration-300">
                        Apartment
                    </div>


                    <div (click)="activeTab = 3" [ngClass]="{
            'bg-[#105156] text-white': activeTab === 3,
            'text-[#105156] border border-[#105156]': activeTab !== 3
          }" class="px-3 lg:w-[144px] h-[43px] text-[14px] lg:text-[18px] font-[500] flex justify-center items-center cursor-pointer rounded-md transition-all duration-300">
                        Business
                    </div>

                </div>


                <div class="w-full h-auto mt-[1rem] lg:mt-[3rem]">


                    <div *ngIf="activeTab === 0"
                        class="flex flex-col md:flex-row gap-3 justify-center items-center lg:justify-between md:items-start">
                        <div class="flex flex-col gap-[1rem]">
                            <div
                                class="w-[380px] md:w-[350px] lg:w-[386px] h-[253px] rounded-md bg-[url('/sec_6_img1.png')] bg-cover">
                            </div>
                            <div
                                class="w-[380px] md:w-[350px] lg:w-[386px] h-[253px] rounded-md bg-[url('/sec_6_img2.png')] bg-cover">
                            </div>
                            <button
                                class="hidden mt-[0.7rem] text-[#105156] font-[600] md:flex gap-[1rem] items-center">
                                See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                            </button>
                        </div>

                        <div
                            class="mt-5 md:mt-0 w-[386px] md:w-[350px] lg:w-[452px] h-[577px] rounded-md bg-[url('/sec_6_img3.png.jpg')] bg-cover bg-center relative group cursor-pointer overflow-hidden">
                            <div
                                class="absolute inset-0 bg-black/80 opacity-0 group-hover:opacity-100 transition-opacity duration-500 z-[1]">
                            </div>
                            <div
                                class="w-[179px] h-[38px] bg-[#5CBF8E] text-white absolute top-0 left-1/2 -translate-x-1/2 flex justify-center items-center capitalize font-[600] rounded-b-[15px] z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                best property
                            </div>
                            <div
                                class="absolute inset-0 flex flex-col justify-center items-center text-white gap-5 z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                <h1 class="capitalize font-[600] text-[24px]">modern house</h1>
                                <div class="w-[189px] flex justify-between items-start">
                                    <div class="text-center">
                                        <i class="ri-eye-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">5060 <br> View</p>
                                    </div>
                                    <div class="text-center flex flex-col items-center">
                                        <img src="/Message_Icon.png" alt="" class="mt-1">
                                        <p class="text-[11px] mt-[1rem]">10.000 <br> Comment</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="ri-thumb-up-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">60.000 <br> Like</p>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <button class="md:hidden  mt-[1rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                        </button>
                    </div>


                    <div *ngIf="activeTab === 1"
                        class="flex flex-col md:flex-row gap-3 justify-center items-center lg:justify-between md:items-start">
                        <div class="flex flex-col gap-[1rem]">
                            <div
                                class="w-[380px] md:w-[350px] lg:w-[386px] h-[253px] rounded-md bg-[url('/sec_6_img2.png')] bg-cover">
                            </div>
                            <div
                                class="w-[380px] md:w-[350px] lg:w-[386px] h-[253px] rounded-md bg-[url('/sec_6_img1.png')] bg-cover">
                            </div>
                            <button
                                class="hidden mt-[0.7rem] text-[#105156] font-[600] md:flex gap-[1rem] items-center">
                                See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                            </button>
                        </div>

                        <div
                            class="mt-5 md:mt-0 w-[386px] md:w-[350px] lg:w-[452px] h-[577px] rounded-md bg-[url('/section_2.png')] bg-cover bg-center relative group cursor-pointer overflow-hidden">
                            <div
                                class="absolute inset-0 bg-black/80 opacity-0 group-hover:opacity-100 transition-opacity duration-500 z-[1]">
                            </div>
                            <div
                                class="w-[179px] h-[38px] bg-[#5CBF8E] text-white absolute top-0 left-1/2 -translate-x-1/2 flex justify-center items-center capitalize font-[600] rounded-b-[15px] z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                best property
                            </div>
                            <div
                                class="absolute inset-0 flex flex-col justify-center items-center text-white gap-5 z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                <h1 class="capitalize font-[600] text-[24px]">modern property</h1>
                                <div class="w-[189px] flex justify-between items-start">
                                    <div class="text-center">
                                        <i class="ri-eye-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">5060 <br> View</p>
                                    </div>
                                    <div class="text-center flex flex-col items-center">
                                        <img src="/Message_Icon.png" alt="" class="mt-1">
                                        <p class="text-[11px] mt-[1rem]">10.000 <br> Comment</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="ri-thumb-up-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">60.000 <br> Like</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="md:hidden  mt-[1rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                        </button>
                    </div>


                    <div *ngIf="activeTab === 2"
                        class="flex flex-col md:flex-row gap-3 justify-center items-center lg:justify-between md:items-start">
                        <div class="flex flex-col gap-[1rem]">
                            <div
                                class="w-[380px] md:w-[350px] lg:w-[386px] h-[253px] rounded-md bg-[url('/sec_6_img1.png')] bg-cover">
                            </div>
                            <div
                                class="w-[380px] md:w-[350px] lg:w-[386px] h-[253px] rounded-md bg-[url('/sec_6_img2.png')] bg-cover">
                            </div>
                            <button
                                class="hidden mt-[0.7rem] text-[#105156] font-[600] md:flex gap-[1rem] items-center">
                                See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                            </button>
                        </div>

                        <div
                            class="mt-5 md:mt-0 w-[386px] md:w-[350px] lg:w-[452px] h-[577px] rounded-md bg-[url('/hero_section.png')] bg-cover bg-center relative group cursor-pointer overflow-hidden">
                            <div
                                class="absolute inset-0 bg-black/80 opacity-0 group-hover:opacity-100 transition-opacity duration-500 z-[1]">
                            </div>
                            <div
                                class="w-[179px] h-[38px] bg-[#5CBF8E] text-white absolute top-0 left-1/2 -translate-x-1/2 flex justify-center items-center capitalize font-[600] rounded-b-[15px] z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                best apartment
                            </div>
                            <div
                                class="absolute inset-0 flex flex-col justify-center items-center text-white gap-5 z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                <h1 class="capitalize font-[600] text-[24px]">modern apartment</h1>
                                <div class="w-[189px] flex justify-between items-start">
                                    <div class="text-center">
                                        <i class="ri-eye-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">5060 <br> View</p>
                                    </div>
                                    <div class="text-center flex flex-col items-center">
                                        <img src="/Message_Icon.png" alt="" class="mt-1">
                                        <p class="text-[11px] mt-[1rem]">10.000 <br> Comment</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="ri-thumb-up-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">60.000 <br> Like</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="md:hidden  mt-[1rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                        </button>
                    </div>


                    <div *ngIf="activeTab === 3"
                        class="flex flex-col md:flex-row gap-3 justify-center items-center lg:justify-between md:items-start">
                        <div class="flex flex-col gap-[1rem]">
                            <div
                                class="w-[386px] md:w-[350px] lg:w-[386px]  h-[253px] rounded-md bg-[url('/sec_6_img2.png')] bg-cover">
                            </div>
                            <div
                                class="w-[386px] md:w-[350px] lg:w-[386px]  h-[253px] rounded-md bg-[url('/sec_6_img1.png')] bg-cover">
                            </div>
                            <button
                                class="hidden mt-[0.7rem] text-[#105156] font-[600] md:flex gap-[1rem] items-center">
                                See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                            </button>
                        </div>

                        <div
                            class="mt-5 md:mt-0 w-[386px] md:w-[350px] lg:w-[452px] h-[577px] rounded-md bg-[url('/sec_6_img3.png.jpg')] bg-cover bg-center relative group cursor-pointer overflow-hidden">
                            <div
                                class="absolute inset-0 bg-black/80 opacity-0 group-hover:opacity-100 transition-opacity duration-500 z-[1]">
                            </div>
                            <div
                                class="w-[179px] h-[38px] bg-[#5CBF8E] text-white absolute top-0 left-1/2 -translate-x-1/2 flex justify-center items-center capitalize font-[600] rounded-b-[15px] z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                best business
                            </div>
                            <div
                                class="absolute inset-0 flex flex-col justify-center items-center text-white gap-5 z-[2] opacity-0 group-hover:opacity-100 transition-all duration-500">
                                <h1 class="capitalize font-[600] text-[24px]">modern business space</h1>
                                <div class="w-[189px] flex justify-between items-start">
                                    <div class="text-center">
                                        <i class="ri-eye-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">5060 <br> View</p>
                                    </div>
                                    <div class="text-center flex flex-col items-center">
                                        <img src="/Message_Icon.png" alt="" class="mt-1">
                                        <p class="text-[11px] mt-[1rem]">10.000 <br> Comment</p>
                                    </div>
                                    <div class="text-center">
                                        <i class="ri-thumb-up-line text-[22px]"></i>
                                        <p class="text-[11px] mt-[0.5rem]">60.000 <br> Like</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="md:hidden  mt-[1rem] text-[#105156] font-[600] flex gap-[1rem] items-center">
                            See More <img src="/sec_2_seemore.png" alt="" class="w-[31px] h-[23px]" />
                        </button>
                    </div>

                </div>
            </div>
        </div>

        <img src="/Vector_sec_6.png" alt="" class="absolute right-0 top-0 z-[-1]  w-[180px] sm:w-[250px] lg:w-auto" />
    </div>
</section>


<!-- section-7-->
<section
    class="mt-[5rem] md:mt-[5rem] lg:mt-[0rem] relative w-full h-[40rem] md:h-[25rem] lg:h-[638px] flex justify-center items-center bg-[url('/section_7.jpg')] bg-cover bg-center">

    <div class="absolute inset-0 bg-white/80"></div>

    <div
        class="absolute w-[90%] h-auto lg:max-w-[80rem] xl:h-[368px] rounded-2xl bg-[#105156] grid grid-cols-1 md:grid-cols-2">


        <div class="flex justify-start">
            <img src="/section_7_img2.png" alt="">
        </div>


        <div class="p-[1rem] lg:pt-[4rem]">
            <h1 class="text-[28px] lg:text-[48px] text-[white] font-[600] capitalize">you can consult here</h1>
            <p class="capitalize font-[400] text-[white] text-[13px] lg:text-[16px]">Morbi tellus et commodo mauris
                tellus ac. Sollicitudin
                elementum facilisi ut a ut ullamcorper ut.</p>


            <div
                class="mt-[3rem] h-[65px] xl:w-[455px] lg:h-[74px] bg-[white] rounded-[10px] flex items-center justify-between px-3">

                <input type="text" placeholder="Enter your email address"
                    class="w-[250px] focus:outline-none focus:border-none px-3">

                <button class="w-[123px] h-[45px] lg:h-[56px] rounded-[7px] bg-[#105156] text-[white]">Submit</button>
            </div>
        </div>
    </div>

</section>